# Validation tools
DISABLE_HTMLHINT=
DISABLE_CSSLINT=
DISABLE_JSHINT=true
DISABLE_ESLINT=
DISABLE_JSCS=
DISABLE_JSONLINT=
DISABLE_PYLINT=
DISABLE_PHP=true
DISABLE_PHPMD=true
DISABLE_PHPCS=true
DISABLE_CHECKBASH=true
DISABLE_CHECKSH=true
DISABLE_YAML=true
DISABLE_FILE_BOM=
DISABLE_FILE_CRLF=

# Minifying and uglify tools
DISABLE_HTML_MINIFIER=true
DISABLE_CLEANCSS=
DISABLE_UGLIFYJS=
DISABLE_PHPMINIFY=true
