# Validation tools
DISABLE_HTMLHINT=true
DISABLE_CSSLINT=true
DISABLE_JSHINT=true
DISABLE_JSCS=true
DISABLE_JSONLINT=true
DISABLE_PYLINT=true
DISABLE_PHP=true
DISABLE_PHPMD=true
DISABLE_PHPCS=true
DISABLE_CHECKBASH=true
DISABLE_CHECKSH=true
DISABLE_YAML=true
DISABLE_FILE_BOM=
DISABLE_FILE_CRLF=

# Minifying and uglify tools
DISABLE_HTML_MINIFIER=true
DISABLE_CLEANCSS=true
DISABLE_UGLIFYJS=true
DISABLE_PHPMINIFY=true

# Only if known course
[[ $DBW_COURSE ]] || return

case "$DBW_COURSE" in
    python)
        DISABLE_PYLINT=
        DISABLE_HTMLHINT=
        DISABLE_CSSLINT=
        DISABLE_JSHINT=
        DISABLE_JSCS=
        DISABLE_JSONLINT=

        DISABLE_HTML_MINIFIER=
        DISABLE_CLEANCSS=
        DISABLE_UGLIFYJS=
    ;;
esac
