debug.log
me/
bin/
build/
.venv/
venv/
vendor/
node_modules/
package-lock.json
.log/
exam/
inspect-gui
klingochklang/

example/sqlite/ping.db
example/intro-challenge/folder*

__pycache__
*.pyc

# VSCode
.vscode/

# Mac OS
.DS_Store
