[MESSAGES CONTROL]
#disable=superfluous-parens,anomalous-backslash-in-string,bad-builtin,invalid-name
disable=W0141,C0103


[REPORTS]
reports=no
include-ids=yes

[General]
init-hook='import sys; sys.path.append(os.getcwd())'
